.ccFormatMonitor{
    background-color: rgb(223, 215, 215);
    color: rgb(6, 7, 7);
    text-align: start;
    padding: $s-size;
}

.userCtype{
    background-color: rgb(223, 215, 215);
    color: rgb(6, 7, 7);
    text-align: start;
    padding: $s-size;
}

.cardvalid{
    background-color: rgb(223, 215, 215);
    color: rgb(6, 7, 7);
    text-align: start;
    padding: $s-size;
}

.cvv{
    background-color: rgb(223, 215, 215);
    color: rgb(6, 7, 7);
    text-align: start;
    padding: $s-size;
}

.payform{
    font-weight: 500;
    text-align: start;
}

.gtic{
    color: rgb(194, 181, 181);
    background-color: rgb(56, 45, 45);
    width: 15.25%;
    
    margin-bottom: $off-msize;
}
