.userForm{
    font-weight: 500;
    text-align:start
}

.userNlabel{
    font-weight: 500;
}

.userFirst{
    background-color: rgb(223, 215, 215);
    color: rgb(6, 7, 7);
    text-align: center;
    padding: $s-size;
}

.userLast{
 background-color: rgb(223, 215, 215);
color: rgb(6, 7, 7);
text-align: center;
padding: $s-size;
}

.userAlabel{
    font-weight: 500;
}

.userAdd{
    background-color: rgb(223, 215, 215);
    color: rgb(6, 7, 7);
    text-align: center;
    padding: $s-size;
}

.userCond{
    font-weight: 500;

}

.userEmail{
    background-color: rgb(223, 215, 215);
    color: rgb(6, 7, 7);
    text-align: center;
    padding: $s-size;
}

.userPhno{
    background-color: rgb(223, 215, 215);
    color: rgb(6, 7, 7);
    text-align: center;
    padding: $s-size;
}

.userSex{
    background-color: rgb(223, 215, 215);
    color: rgb(6, 7, 7);
    text-align: center;
    padding: $s-size;
}

.userAuth{
    background-color: rgb(223, 215, 215);
    color: rgb(6, 7, 7);
    text-align: center;
    padding: $s-size;
}

.cpay{
    color: rgb(194, 181, 181);
    background-color: rgb(56, 45, 45);
    width: 18.25%;
    
    margin-bottom: $off-msize;
}
 
.dob{
    background-color: rgb(223, 215, 215);
    color: rgb(6, 7, 7);
    text-align: center;
    padding: $s-size;
}